* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
li,
menu {
    list-style-type: none;
}

:root {
    --player-grey: #282828;
    --empty-line: #5A5A5A;
}

/************* MAIN SECTION  ************/

.container-row {
    display: flex;
    flex-direction: column;
    height: 100vh
}

.col {
    flex-grow: 1;
}

.col-play-bar {
    flex-shrink: 0;
    background-color: var(--player-grey);
}

/********* MAIN-AREA  ********/

.row-main-area {
    display: flex;
}

.col-sidebar {
    flex-basis: 200px;
    flex-shrink: 0;
}

.col-music {
    flex-grow: 1;
}

/********* /MAIN-AREA  ********/

/********* PLAYER  ********/

.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
}

.player-col-static {
    min-width: 220px;
}

.player-col-elastic {
    flex-basis: 532px;
}

.main-player-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-buttons {
    flex-basis: 200px;
    text-align: center;
}

.player-time {
    flex-basis: 100%;
    text-align: center;
}

.player-song-row {
    display: flex;
    align-items: center;
}

.song-row {
    display: flex;
    flex-wrap: wrap;
}

.song-col {
    flex-basis: 100%;
}

.song-col.singer {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.song-col.song-name {
    color: grey;
    font-size: 12px;
}

.favourite-row {
    display: flex;
    gap: 12px;
}

.favourite-col {
    flex-basis: 50%;
    color: grey;
}

.song-thumb {
    max-width: 46px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.song {
    margin-left: 10px;
    margin-right: 18px;
}

.favourite {
    /* padding: 0 8px; */
}

.player-buttons-row {
    display: flex;
    gap: 20px;
    color: white;
    justify-content: center;
}

.player-time-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.play-button {
    font-size: 32px;
}

.player-full-time {
    width: 434px;
    background-color: var(--empty-line);
    border: 0px solid transparent;
    border-radius: 999px;
}

.player-actual-time {
    height: 4px;
    width: 20%;
    background-color: #9e9e9e;
    border-radius: 999px;
}

.time-item {
    font-size: 10px;
    color: white;
}

.features-row {
    display: flex;
    padding-right: 10px;
    gap: 16px;
    align-items: center;
}

.features-col {
    color: white;
}

.features-col-line {
    width: 122px;
    background-color: var(--empty-line);
    border: 0px solid transparent;
    border-radius: 999px;
}

.full-line {
    height: 4px;
    width: 20%;
    background-color: #9e9e9e;
    border-radius: 999px;
}



/********* PLAYER  ********/

/************* /MAIN SECTION  ************/

/************* Mediaquery  ************/

/*** Mediaquery iPad ***/

@media screen and (max-width: 878px) {



}

/*** Mediaquery /iPad ***/

/*** Mediaquery iPad-mini ***/

@media screen and (max-width: 639px) {



}

/*** Mediaquery /iPad-mini***/

/*** Mediaquery Mobile ***/

@media screen and (max-width: 552px) {



}

/*** /Mediaquery Mobile ***/

/************* /Mediaquery  ************/

/************* DEBUG RULES  ************/
.debug .container-row {
    /* border: 5px solid blue; */
}

.debug .col {
    background-color: grey;
    border: 4px solid red;
}

.debug .col-play-bar {
    /* border: 4px solid green; */
}

.debug .col-sidebar {
    background-color: orange;
    border: 2px dotted black;
}

.debug .col-music {
    border: 2px dotted blue;
}

/* .debug .player-col-static {
    border: 2px solid black;
}

.debug .player-col-elastic {
    border: 2px solid yellow;
} */
/************* /DEBUG RULES  ************/