* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
li,
menu {
    list-style-type: none;
}

:root {
    --bg-player: #282828;
    --empty-line: #5A5A5A;
    --grey-text: #878787;
    --bg-content: #141922;
    --bg-sidebar: #000000;
}

button {
    border: none;
}


/************* MAIN SECTION  ************/

.container-row {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-area {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.player-bar {
    flex-shrink: 0;
    background-color: var(--bg-player);
}

/********* MAIN-AREA  ********/

.sidebar {
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: var(--bg-sidebar);
    overflow: hidden;
}

.content {
    flex-grow: 1;
    background-color: var(--bg-content);
    overflow: auto;
}

/********* /MAIN-AREA  ********/

/********* PLAYER  ********/

.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
}

.player-col-static-first {
    margin-right: 52px;
}

.player-col-elastic {
    flex-basis: 40%;
}

.player-col-static-third {
    margin-left: 52px;
}

/**** PLAYER ITEMS ****/

/* SONG */

.song-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 26px;
}

.song-col {
    flex-basis: 100%;
}

.song-col.singer {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.song-col.song-name {
    color: var(--grey-text);
    font-size: 10px;
}

.favourite-row {
    display: flex;
    gap: 12px;
}

.favourite-col {
    flex-basis: 50%;
}

.button-no-bg {
    background-color: var(--bg-player);
    color: var(--grey-text);
}

.song-thumb {
    max-width: 46px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.song {
    margin-left: 10px;
}

/* INTERACTIONS */

.main-player-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-buttons {
    margin-bottom: 8px;
}

.player-time {
    flex-basis: 100%;
}

.player-song-row {
    display: flex;
    align-items: center;
}

.player-buttons-row {
    display: flex;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

.player-time-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.play-buttons {
    color: white;
    background-color: var(--bg-player);
    font-size: 18px;
}

.play-buttons.button-start {
    font-size: 32px;
}

.player-full-time {
    width: 100%;
    background-color: var(--empty-line);
    border: 0px solid transparent;
    border-radius: 999px;
}

.player-actual-time {
    height: 4px;
    width: 20%;
    background-color: #9e9e9e;
    border-radius: 999px;
}

.col-player-items.bar {
    width: 100%;
}

.time-item {
    font-size: 10px;
    color: white;
}

/* FEATURES */

.features-row {
    display: flex;
    padding-right: 10px;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}

.features-buttons {
    color: white;
    background-color: var(--bg-player);
}

.features-col {
    color: white;
}

.features-col-volume {
    width: 122px;
}

.features-col-volume-bar {
    background-color: var(--empty-line);
    border: 0px solid transparent;
    border-radius: 999px;
}

.item-volume {
    height: 4px;
    width: 20%;
    background-color: #9e9e9e;
    border-radius: 999px;
}

/********* /PLAYER  ********/

/************* /MAIN SECTION  ************/

/************* Mediaquery  ************/

/*** Mediaquery iPad ***/

@media screen and (max-width: 878px) {

    .player-col-static-first {
        margin-right: 36px;
    }

    .player-col-static-third {
        margin-left: 20px;
    }

    .features-col-volume {
        width: 100px;
    }

}

/*** Mediaquery /iPad ***/

/*** Mediaquery iPad-mini ***/

@media screen and (max-width: 639px) {

    .favourite-col {
        flex-basis: 100%;
    }

    .favourite-row {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0px;
    }

    .player-col-static-first {
        margin-right: 32px;
    }

    .player-col-static-third {
        margin-left: 10px;
    }

    .song-row {
        margin-right: 20px;
    }

    .features-col-volume {
        width: 90px;
    }

    .features-row {
        gap: 12px;
    }
}

/*** Mediaquery /iPad-mini***/

/*** Mediaquery Mobile ***/

@media screen and (max-width: 552px) {

    .sidebar {
        flex-basis: 50px;
        flex-shrink: 0;
    }

    .player-col-static-first {
        margin-right: 38px;
    }

    .features-col-4 {
        width: 86px;
    }

    .favourite-row {
        gap: 0px;
    }

    .song-row {
        margin-right: 20px;
    }

    .song-thumb {
        max-width: 30px;
    }

    .song-col.singer {
        font-size: 12px;
    }

    .song-col.song-name {
        font-size: 10px;
    }

}

/*** /Mediaquery Mobile ***/

/************* /Mediaquery  ************/

/************* DEBUG RULES  ************/

/* .debug .container-row {
    border: 5px solid blue;
} */

/* .debug .col-play-bar {
    border: 4px solid green;
} */

/* .debug .col-sidebar {
    background-color: orange;
    border: 2px dotted black;
} */

/* .debug .player-col-static {
    border: 2px solid black;
}

.debug .player-col-elastic {
    border: 2px solid yellow;
} */
/************* /DEBUG RULES  ************/