* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
li,
menu {
    list-style-type: none;
}

:root {
    --bg-player: #282828;
    --empty-line: #5A5A5A;
    --grey-text: #878787;
    --bg-content: #141922;
    --bg-sidebar: #000000;
    --bg-icon: #808080;
    --bg-premium: #080B12;
    --green-selection: #ADFF2F;
    --bg-button: #A3A3A3;
}

button {
    border: none;
}


/************* MAIN SECTION  ************/

.container-row {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-area {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.player-bar {
    flex-shrink: 0;
    background-color: var(--bg-player);
}

/************ MAIN-AREA  ************/

/****** SIDEBAR ******/

.sidebar {
    flex-basis: 230px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar.side-style {
    background-color: var(--bg-sidebar);
    overflow: hidden;
}

.top-space {
    padding-top: 12px;
}

.sidebar-item.logo {
    width: 140px;
}

.logo > a {
    padding: 8px 20px 0;
}

.logo-webapp {
    width: 140px;
}

.logo-mobile {
    display: none;
}

.sidebar-item {
    color: var(--grey-text);
    display: contents;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-item > p {
    font-weight: bold;
}

.nav-item.selection {
    border-left: 3px solid var(--green-selection);
}

.nav-item.selection-off {
    border-left: 3px solid transparent;
}

.nav-item.selection-off:hover {
    border-left: 3px solid var(--green-selection);
    color: white;
}

.nav-item:hover .nav-icons {
    opacity: 1;
}

.nav-icons {
    width: 20px;
    aspect-ratio: 1;
    margin-right: 8px;
    opacity: 0.7;
}

.nav-item-text {
    font-size: 12px;
}

.home-button {
    color: white;
}

.playlists {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px;
}

.playlists-article {
    color: white;
    text-transform: uppercase;
}

.new-playlist {
    display: flex;
    align-items: center;
}

.new-playlist:hover .add-playlist {
    background-color: white;
}

.new-playlist:hover .create-playlist {
    color: white;
}

.add-playlist {
    font-size: 20px;
    padding: 8px 12px;
    margin-right: 8px;
    background-color: #A3A3A3;
    color: black;
}

.create-playlist {
    font-size: 14px;
    font-weight: bold;
}

.my-playlist {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
}

.name-playlist:hover {
    color: white;
}

.sidebar-item .app-download {
    display: flex;
    margin-top: auto;
    gap: 10px;
}

.sidebar-item.after-line::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 192px;
    background-color: var(--grey-text);
}

.sidebar-item .user-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.download-button {
    width: 18px;
    aspect-ratio: 1;
}

.app-download {
    padding: 0 20px;
}

.app-download-text {
    font-size: 12px;
    font-weight: bold;
}

.app-download-text:hover {
    color: white;
}

.user-profile {
    color: white;
    padding: 0 20px 8px;
}

.user-profile-icon {
    width: 26px;
    background-color: var(--bg-icon);
    border-radius: 999px;
    aspect-ratio: 1;
}

.user-profile-name {
    font-weight: bold;
    font-size: 14px;
}

/****** /SIDEBAR ******/

/****** MAIN - CONTENT ******/

.main-content {
    flex-grow: 1;
    background-color: var(--bg-content);
    overflow: auto;
}

/*** PREMIUM ***/

.premium {
    background-color: var(--bg-premium);
}

.premium-row {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 4px 28px;
    overflow: hidden;
}

.upgrade-button {
    padding: 14px 42px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 999px;
}

.button-large:hover {
    transform: scale(1.1);
}

/*** /PREMIUM ***/

/*** CONTENT ***/

.content {
    padding: 20px;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
}

.content-col {
    flex-basis: 100%;
    margin-bottom: 36px;
}

/* CONTENT NAV */

.content-nav {
    display: flex;
    color: var(--grey-text);
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.content-nav-item {
    font-size: 12px;
    text-transform: uppercase;
}

.content-nav-item:hover {
    color: white;
}

.content-nav-item-line::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 36px;
    background-color: var(--green-selection);
}

/* /CONTENT NAV */

/* RECENTLY PLAYED */

.content-articles {
    margin-bottom: 24px;
}

.content-article-title {
    font-size: 24px;
    color: white;
}

.played-songs-row {
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.played-songs-item {
    text-align: center;
    flex-basis: calc(100% * (2/12) - 14px / 6);
    min-width: 70px;
}

.play-it {
    position: relative;
}

.press-to-play {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.press-to-play-icon {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.play-it:hover .songs-album {
    opacity: 0.5;
}

.play-it:hover .press-to-play {
    opacity: 1;
}

.songs-album {
    cursor: pointer;
}

.songs-title {
    color: white;
    font-size: 16px;
    margin-bottom: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.songs-subtitle {
    color: var(--grey-text);
    font-size: 14px;
    cursor: pointer;
}

/* /RECENTLY PLAYED */

/* YOUR SONGS */

.songs-for-you-row {
    display: flex;
    gap: 14px;
}

.songs-for-you-item {
    text-align: center;
    flex-basis: calc(100% * (2/12) - 14px);
    min-width: 70px;
}

.content-article-text {
    color: var(--grey-text);
    font-size: 14px;
    margin-top: 16px;
}

/* /YOUR SONGS */

/* POPULAR ARTISTS */

.popular-artists-row {
    display: flex;
    gap: 14px;
}

.popular-artists-item {
    text-align: center;
    flex-basis: calc(100% * (2/12) - 14px);
}

.songs-album.circle {
    border-radius: 999px;
    aspect-ratio: 1;
}

/* /POPULAR ARTISTS */

/*** /CONTENT ***/

/****** /MAIN - CONTENT ******/

/************ /MAIN-AREA  ************/

/********* PLAYER  ********/

.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
}

.player-col-first {
    margin-right: 52px;
}

.player-col {
    flex-basis: 40%;
}

.player-col-third {
    margin-left: 52px;
}

/**** PLAYER ITEMS ****/

/* SONG */

.song-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 26px;
}

.song-col {
    flex-basis: 100%;
}

.song-col.singer {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.song-col.song-name {
    color: var(--grey-text);
    font-size: 10px;
}

.song-name:hover {
    text-decoration: underline;
}

.favourite-row {
    display: flex;
    gap: 12px;
}

.favourite-col {
    flex-basis: 50%;
}

.button-no-bg {
    background-color: var(--bg-player);
    color: var(--grey-text);
}

.button-no-bg:hover {
    color: white;
}

.song-thumb {
    max-width: 46px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.song {
    margin-left: 10px;
}

/* INTERACTIONS */

.main-player-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-buttons {
    margin-bottom: 8px;
}

.player-time {
    flex-basis: 100%;
}

.player-song-row {
    display: flex;
    align-items: center;
}

.player-buttons-row {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.player-time-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.play-buttons {
    color: white;
    background-color: var(--bg-player);
    font-size: 18px;
}

.buttons-click {
    padding: 0 10px;
}

.play-buttons.button-start {
    font-size: 32px;
}

.button-start:hover {
    transform: scale(1.1);
}

.col-player-items.bar {
    flex-grow: 1;
}

.player-full-time {
    background-color: var(--empty-line);
    border: 0px solid transparent;
    border-radius: 999px;
    cursor: pointer;
}

.player-full-time:hover .player-actual-time {
    background-color: var(--green-selection);
}

.player-full-time:hover .player-time-passed {
    opacity: 1;
}

.player-actual-time {
    height: 4px;
    width: 20%;
    background-color: #9e9e9e;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.player-time-passed {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 999px;
    opacity: 0;
}

.time-item {
    font-size: 10px;
    color: white;
}

/* FEATURES */

.features-row {
    display: flex;
    padding-right: 10px;
    gap: 16px;
    align-items: center;
}

.features-buttons {
    color: white;
    background-color: var(--bg-player);
}

.features-col {
    color: white;
}

.features-col-volume {
    width: 122px;
}

.features-col-volume-bar {
    background-color: var(--empty-line);
    border: 0px solid transparent;
    border-radius: 999px;
    display: flex;
    cursor: pointer;
}

.features-col-volume-bar:hover .item-volume {
    background-color: var(--green-selection);
}

.features-col-volume-bar:hover .volume-circle {
    opacity: 1;
}

.item-volume {
    height: 4px;
    width: 28%;
    background-color: #9e9e9e;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.volume-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 999px;
    opacity: 0;
}

/********* /PLAYER  ********/

/************* /MAIN SECTION  ************/

/************* Mediaquery  ************/

/*** Mediaquery iPad ***/

@media screen and (max-width: 878px) {

    .player-col-first {
        margin-right: 36px;
    }

    .player-col-third {
        margin-left: 20px;
    }

    .features-col-volume {
        width: 100px;
    }

    .played-songs-row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .played-songs-item {
        flex-basis: calc(100% * (3 / 12) - 42px / 4);
    }

    .songs-for-you-item {
        flex-basis: calc(100% * (3/12) - 14px);
    }

    .popular-artists-item {
        flex-basis: calc(100% * (3/12) - 14px);
    }
}

/*** Mediaquery /iPad ***/

/*** Mediaquery iPad-mini ***/

@media screen and (max-width: 639px) {

    .favourite-col {
        flex-basis: 100%;
    }

    .favourite-row {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0px;
    }

    .player-col-first {
        margin-right: 32px;
    }

    .player-col-third {
        margin-left: 10px;
    }

    .song-row {
        margin-right: 20px;
    }

    .features-col-volume {
        width: 90px;
    }

    .features-row {
        gap: 12px;
    }

    .buttons-click {
        padding: 0 6px;
    }

    .played-songs-item {
        flex-basis: calc(100% * (6/12) - 14px / 2);
    }

    .songs-for-you-item {
        flex-basis: calc(100% * (6/12) - 14px / 2);
    }

    .popular-artists-item {
        flex-basis: calc(100% * (6/12) - 14px / 2);
    }
}

/*** Mediaquery /iPad-mini***/

/*** Mediaquery Mobile ***/

@media screen and (max-width: 552px) {

    .sidebar {
        flex-basis: 50px;
        flex-shrink: 0;
    }

    .sidebar.side-style {
        padding: 4px 10px 8px;
        align-items: center;
    }

    .top-space {
        padding: 0px;
    }

    .logo-webapp {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 32px;
    }

    .logo > a {
        padding: 0;
    }

    .nav-item {
        padding: 0;
    }

    .nav-item.selection {
        border: none;
    }

    .nav-icons {
        margin-right: 0;
        width: 24px;
    }

    .nav-item-text {
        display: none;
    }

    .sidebar-item.playlist-item {
        display: none;
    }

    .app-download {
        padding: 0;
    }

    .app-download-text {
        display: none;
    }

    .sidebar-item.after-line::after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
    }

    .user-profile {
        padding: 0;
    }

    .user-profile-name {
        display: none;
    }

    .player-col-first {
        margin-right: 38px;
    }

    .features-col-4 {
        width: 86px;
    }

    .favourite-row {
        gap: 0px;
    }

    .song-row {
        margin-right: 20px;
    }

    .song-thumb {
        max-width: 30px;
    }

    .song-col.singer {
        font-size: 12px;
    }

    .song-col.song-name {
        font-size: 10px;
    }

    .nav-item.selection-off {
        border-left: 0;
    }

    .nav-item.selection-off:hover {
        border-left: 0;
    }
}


/*** /Mediaquery Mobile ***/

/************* /Mediaquery  ************/

/************* DEBUG RULES  ************/

/* .debug .container-row {
    border: 5px solid blue;
} */

/* .debug .col-play-bar {
    border: 4px solid green;
} */

/* .debug .col-sidebar {
    background-color: orange;
    border: 2px dotted black;
} */

/* .debug .player-col-static {
    border: 2px solid black;
}

.debug .player-col-elastic {
    border: 2px solid yellow;
} */

/* .debug .main-content {
    border: 2px solid red;
} */

/* .content-row {
    border: 2px solid white;
} */

/* .content-col {
    border: 3px solid green;
} */
/************* /DEBUG RULES  ************/